@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(40, 94, 165);
}

.container {
  background-color: #ffffff;
}
/* 
th {
  background-color: #ffffff;
} */




